body{
    margin: auto;
    max-width: 75%;
    position: relative;

    background-color: #ebe3fa;
    color: #0f0417;
    font-family: 'Noto Sans JP', sans-serif;
}
hr{
    border: 1px solid #0f0417;
}

h2, h3, h4{
    font-family: 'Noto Sans SC', sans-serif;
}
a:link{
    color: #463d92;
}
a:visited{
    color: #5f3d92;
}

.indent-start{
    text-indent: 40px;
}
.indent-hanging{
    text-indent: -40px; 
    padding-left: 36px;
}

#header{
    text-align: center;
}
#profile-placeholder{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}
#profile-pic{
    max-height: 100%;
}
h1{
    font-family: 'Arima Madurai', cursive;
    font-size: 275%;
}


button{
    padding: 10px 15px 10px 15px ;
    margin: 5px 0px 5px 0px ;

    background-color: #cbc0fc;
    border: none;
}

#footer-content{
    display: flex;
    justify-content: center;
}

.footer-item{
    flex-grow: 1;
}