#main-content{
    display: flex;
    justify-content: center;
}
.main-content-item{
    flex-grow: 1;

    margin: 10px;
}

input{
    margin: 5px 0px 5px 0px;
}

#log{
    width: 100%;
}


#histogram-placeholder{
    width: 100%;
}
#download-full-data{
    float:right;
}