body{
    margin: auto;
    max-width: 75%;
    position: relative;
}

#header{
    text-align: center;
}
#profile-placeholder{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}
#profile-pic{
    max-height: 100%;
}

#main-content{
    display: flex;
    justify-content: center;
}
.main-content-item{
    flex-grow: 1;
}

#histogram-placeholder{
    width: 100%;
}